.container {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1851px;
    margin: 0 auto;
    height: 896px;
    background-image: url(./../../img/bacground.png);
    margin-top: -24px;
}

