.y__heading {
    margin-top: -820px;
}
.y__heading-container {
  
}
.y__model {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #393C41;
    text-align: center;
}
.y__model-text {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #5C5E62;
    text-align: center;
}
